.login-page {
  overflow: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  background-color: #0D171F;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  gap: 20px;
}

.login-page main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page .header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 15%;
  padding: 20px;
  gap: 20px;
  user-select: none;
}

@media (max-width: 1080px) {
  .login-page .header-bar {
    padding: 20px 0;
    justify-content: center;
  }
}

.login-page .title-small-screen {
  display: none;
}

@media (max-width: 1080px) {
  .login-page .title-small-screen {
    font-size: 1.7em;
    display: block;
    text-align: center;
    margin: 0;
  }
}

.login-page .container-container {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
  height: 70vh;
}

@media (max-width: 1080px) {
  .login-page .container-container {
    flex-direction: column-reverse;
    width: auto;
    height: auto;
  }
}

.login-page .intro-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px;
  height: 80%;
  width: 60vw;
}

@media (max-width: 1080px) {
  .login-page .intro-register-container {
    margin: auto;
    height: 100%;
    width: 90vw;
    align-items: center;
  }
}

.login-page .title-big-screen {
  display: block;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 0;
  width: 70%;
}

@media (max-width: 1080px) {
  .login-page .title-big-screen {
    display: none;
  }
}

.login-page .intro-register-container h3,
.login-page .form-container h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}

@media (max-width: 1080px) {
  .login-page .intro-register-container h3,
  .login-page .form-container h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
  }
}

.login-page .intro-register-container p,
.login-page .form-container p {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 1080px) {
  .login-page .intro-register-container p,
  .login-page .form-container p {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px;
  }
}

.login-page .intro-register-container-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  width: 45%;
}

@media (max-width: 1080px) {
  .login-page .intro-register-container-subtitle {
    font-size: 1em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
    width: 90vw;
    text-align: center;
  }
}

.login-page .intro-register-container a {
  width: 35%;
}

@media (max-width: 1080px) {
  .login-page .intro-register-container a  {
    width: 95%;
  }
}

.login-page .intro-register-container a button {
  width: 100%;
}

.login-page .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1C2C3B;
  border-radius: 2px;
  padding: 20px 5px;
  margin: 0px 20px;
  width: 30vw;
}

@media (max-width: 1080px) {
  .login-page .form-container {
    width: 90vw;
  }
}

.login-page .form-container h3,
.login-page .form-container p {
  text-align: center;
}

@media (max-width: 1080px) {
  .login-page .form-container {
    width: 90vw;
  }
}

.login-page form,
.login-page .form-main,
.login-page .form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.login-page form {
  width: 95%;
  height: 85%;
}

.login-page .form-title {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.login-page .form-main {
  width: 100%;
  height: 100%;
}

.login-page .form-input {
  width: 90%;
  margin-top: 10px;
}

.login-page input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 1em;
}

.login-page .form-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.login-page label {
  font-size: 1.2em;
  font-weight: 700;
  user-select: none;
}

.login-page button {
  margin-top: 20px;
  width: 95%;
  height: 50px;
  border-radius: 5px;
  background-color: #d9d9d9;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1em;
}

@media (max-width: 1080px) {
  .login-page button {
    height: 60px;
    font-size: 1.2em;
  }
}

.login-page button:hover {
  background-color: #d9d9d9a9;
  border: 1px solid black;
  scale: 1.01;
  cursor: pointer;
}

.login-page a {
  color: #fff;
  user-select: none;
}

.login-page a:hover {
  color: #ffffffcc;
  scale: 1.01;
  cursor: pointer;
}

.login-page .error-message {
  font-size: 16px;
  color: red;
  font-weight: 700;
  align-self: flex-start;
}

.login-page #login-status.error-message {
  align-self: center;
}

.login-page #login-status.feedback-pending {
  color: white;
}

.login-page #login-status.feedback-error {
  color: red;
}

.login-page #login-status.feedback-success {
  color: green;
}

.login-page .to-login {
  margin-top: 10px;
  margin-bottom: 0px;
}

.login-page .to-login p {
  margin: 0;
}