.register-page {
    overflow: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-color: #0D171F;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    gap: 20px;
}

.register-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-page .header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 93vw;
    height: 15%;
    padding: 20px;
    gap: 20px;
    user-select: none;
}

@media (max-width: 1080px) {
    .register-page .header-bar {
        padding: 20px 0;
        justify-content: center;
    }
}

.register-page .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1C2C3B;
    border-radius: 2px;
    padding: 20px 5px;
    width: 30vw;
    height: 75vh;
}

@media (max-width: 1080px) {
    .register-page .form-container {
        width: 90vw;
    }
}

.register-page form,
.register-page .form-main,
.register-page .form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.register-page form {
    width: 95%;
    height: 85%;
}

.register-page .form-title h2 {
    margin-bottom: 0;
    font-weight: 700;
    user-select: none;
}

.register-page .form-main {
    width: 100%;
    height: 100%;
}

.register-page .form-input {
    width: 90%;
    margin-top: 10px;
}

.register-page input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 1em;
}

.register-page .form-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.register-page label {
    font-size: 1.2em;
    font-weight: 700;
    user-select: none;
}

.register-page button {
    margin-top: 20px;
    width: 95%;
    height: 50px;
    border-radius: 5px;
    background-color: #d9d9d9;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1em;
}

@media (max-width: 1080px) {
    .register-page button {
        height: 60px;
        font-size: 1.2em;
    }
}

.register-page button:hover {
    background-color: #d9d9d9a9;
    border: 1px solid black;
    scale: 1.01;
    cursor: pointer;
}

.register-page a {
    color: #fff;
    user-select: none;
}

.register-page a:hover {
    color: #ffffffcc;
    scale: 1.01;
    cursor: pointer;
}

.register-page .error-message {
    font-size: 12px;
    color: red;
    font-weight: 700;
    align-self: flex-start;
}

.register-page #register-status.error-message {
  align-self: center;
}

.register-page #register-status.feedback-pending {
  color: white;
}

.register-page #register-status.feedback-error {
  color: red;
}

.register-page #register-status.feedback-success {
  color: green;
}

.register-page .to-login {
    margin-top: 10px;
    margin-bottom: 0px;
}

.register-page .to-login p {
    margin: 0;
}