::-webkit-scrollbar {
    padding-top: 10px;
    height: 10px;
    background-color: #1C2C3B;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

body.light-theme::-webkit-scrollbar {
    background-color: #E3D3C4;
}

body.light-theme::-webkit-scrollbar-thumb {
    background-color: #666;
}

body.light-theme::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}