::-webkit-scrollbar {
    padding-top: 10px;
    height: 10px;
    background-color: #1C2C3B;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}