body {
  overflow: auto;
  margin: 0;
  padding: 0 5%;
  font-family: Arial, sans-serif;
  background-color: #0D171F;
  color: #fff;
  display: flex;
  justify-content: center;
}

main.content {
  flex: 0;
  padding: 0;
}

main.content-grid {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin-top: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  main.content-grid {
    padding: 15px;
    margin-top: 70px;
  }
}