body {
  overflow: auto;
  /*!OVERFLOW ESTÁ HIDDEN, ALTERAR NO FUTURO*/
  margin: 0;
  padding: 0 5%;
  font-family: Arial, sans-serif;
  background-color: #0D171F;
  color: #fff;
  display: flex;
  justify-content: center;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  background-color: #1C2C3B;
  padding: 20px;
  height: 95.8vh;
  border-radius: 0 10px 10px 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

#hamburger_menu_icon {
  position: fixed;
  top: 22px;
  left: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2000;
}

#hamburger_menu_icon img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.sidebar h2 {
  margin: 50px 0 20px 0;
  display: flex;
  align-items: center;
  font-size: 28px;
}

.sidebar ul {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  user-select: none;
  text-decoration: none;
  color: #aaa;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.sidebar a img {
  width: 24px;
  height: 24px;
}

.sidebar a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: #fff;
  padding: 0px 15px;
}

.active_path {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: #fff;
  margin: 0;
}

.content {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

.icons a img {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 50%;
  user-select: none;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  width: 60vw;
  max-width: 500px;
  margin: 0 0;
  margin-left: 30%;
  height: 40px;
  display: flex;
  background: #eee;
  border-radius: 15px;
  overflow: hidden;
}

.search-box input {
  width: 60vw;
  max-width: 500px;
  border: none;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
}

.search-box button {
  border: none;
  background: #ddd;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.search-box button img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1080px) {
  .search-box {
    width: 55vw;
    margin-left: 13%;
  }

  .search-box input {
    margin-left: 8px;
    width: calc(55vw - 45px);
    padding: 8px 0px;
    padding-right: 0;
  }
}

button img {
  user-select: none;
  height: 20px;
  width: 20px;
}

.icons {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 0px;
  font-size: 20px;
  margin-top: 12.5px;
  right: 15px;
}


#profile-image { 
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.profile-dropdown {
  position: relative;
  display: inline-block;
}

#profile-image:hover {
  outline: 2px solid blueviolet; /* Borda em volta do perfil, remover caso achem feio */
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 8px 0;
  right: 0;
  top: 45px;
  background-color: #1C2C3B;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
  z-index: 1000;
  flex-direction: column;
}

.dropdown-menu a {
  text-decoration: none;
  display: block;
  color: #ccc;
  padding: 10px 15px;
  font-size: 20px;
  transition: 0.2s;
}

.dropdown-menu a:hover {
  background-color: #2a3b4f;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.profile-dropdown.show .dropdown-menu {
  display: flex;
}

.games h3,
.bestsellers h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.bestsellers h3 {
  padding: 0;
  margin-left: 25vw;
}

.same-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.same-line h4 {
  transform: translate(-4vw, 40px);
  text-decoration: none;
  color: #eee;
  user-select: none;
}

.cards,
.bestsellers-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 40px 30px;
  margin-top: 0px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.cards {
  overflow-y: auto;
  padding: 5px;
}

::-webkit-scrollbar {
  padding-top: 10px;
  height: 10px;
  background-color: #1C2C3B;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

.card {
  flex: 0 0 auto;
  width: 180px;
  height: 280px;
  background: #D9D9D9;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: opacity 0.4s ease;
  color: black;
  text-align: center;
  padding: 10px;
  max-width: calc((56vw) / 2);
}

.card:hover {
  transition: 0.5s;
  outline: 3px solid blueviolet;
  color: blueviolet;
}

@media (max-width: 1080px) {
  .card {
    flex: 0 0 calc((56vw) / 2);
    height: 30vh;
  }

  body {
    padding: 0;
  }
}

.card img {
  border-radius: 10px;
}

#website-home-link {
  position: absolute;
  top: -2px;
  left: 70px;
  font-size: 1.2em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#website-home-link a {
  text-decoration: none;
  color: #fff;
}

#website-home-link a:hover {
  text-shadow: 2px 1px blueviolet;
}

@media (max-width: 1080px) {
  #website-home-link {
    display: none;
  }
}

.arrow {
  position: inherit;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #ccc;
  border: none;
  font-size: 2rem;
  padding: 5px 12px;
  border-radius: 25%;
  cursor: pointer;
  user-select: none;
}

.arrow.left {
  top: 20px;
  left: 50px;
}

.arrow.right {
  top: 20px;
  right: 50px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
}

.bestsellers-box {
  margin: 30px;
  margin-top: 0px;
  width: 240px;
  height: 340px;
  background: #fff;
  border-radius: 8px;
}

.bestseller-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bestseller-card {
  width: 30vw;
  height: 30vh;
  color: black;
  background-color: #D9D9D9;
}

@media screen and (max-width: 768px) {
  #bestseller-card {
    width: 80vw;
    height: 25vh;
    color: black;
    background-color: #D9D9D9;
  }
}

#bestseller-card:hover,
.card:hover {
  background-color: #eee;
  transition: opacity 1s ease;
}