<aside class="sidebar hidden">
    <ul class="menu">
        <li>
            <a href="../home/home.html">
                <img src="img/home_icon.png" alt="Home icon">
                Home
            </a>
        </li>
        <li>
            <a href="../games/games.html">
                <img src="img/games_icon.png" alt="Games icon">
                Jogos
            </a>
        </li>
        <li>
            <a href="../genres/genres.html">
                <img src="img/genre_icon.png" alt="Genre icon">
                Gêneros
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/wishlist_icon.png" alt="Wishlist icon">
                Lista de desejos
            </a>
        </li>
        <li>
            <a href="../profile/profile.html">
                <img src="img/profile_icon.png" alt="Profile icon">
                Perfil
            </a>
        </li>
    </ul>
</aside>
