#website-home-link {
    position: absolute;
    top: 0;
    left: 70px;
    font-size: 1.2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#website-home-link a {
    text-decoration: none;
    color: #fff;
}

#website-home-link a:hover {
    text-shadow: 1px 1px blueviolet;
}

@media (max-width: 1080px) {
    #website-home-link {
        display: none;
    }
}