<section class="icons">
    <a href="../cart/cart.html">
        <img if="cart-image" src="../components/img/shopping_cart_button.png">
    </a>

    <section class="profile-dropdown">
        <img id="profile-image" src="../components/img/profile_icon.png">

        <div class="dropdown-menu">
            <a href="../profile/profile.html">Perfil</a>
            <a href="#">Configurações</a>
            <a href="#">Sair</a>
            <hr>

            <div class="menu-item">
            <span>Tema Claro: </span>
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider"></span>
                </label>
            </div>

            <div class="menu-item">
                <span>Zoom: </span>
                <input type="range" id="zoom-range" min="75" max="125" value="100" step="5">
            </div>

            <!-- <div class="menu-item">
                <span>Fonte: </span>
                <input type="range" id="font-range" min="80" max="150" value="100" step="5"> <!-- Aumento de fonte tá percentual pra n bugar--\>
            </div> -->
        </div>
    </section>
</section>
